<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./login.css" />
    <script>
      function sign_in() {
          let username = $("#userID").val()
          let password = $("#userPW").val()

          if (username == "") {
              $("#help-id-login").text("아이디를 입력해주세요.")
              $("#input-username").focus()
              return;
          } else {
              $("#help-id-login").text("")
          }

          if (password == "") {
              $("#help-password-login").text("비밀번호를 입력해주세요.")
              $("#input-password").focus()
              return;
          } else {
              $("#help-password-login").text("")
          }

          let formData = new FormData();
          formData.append("username_give", username);
          formData.append("password_give", password);
          fetch('/sign_in', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
              console.log(data['result'])
              if (data['result'] == 'success') {
                  // 쿠키에 로그인 토큰을 저장
                  console.log("로그인 성공")
                  setCookie('mytoken', data['token'],data['token']['exp']);
                  // $.cookie('mytoken', data['token'], {path: '/'});
                  alert("로그인 성공")
                  window.location.href = "./board"
              } else {
                  alert(data['msg'])
              }
          });
        }
    </script>
  </head>

  <body>
    <header class="header">
      <h1 class="header__title">Welcome Hanghae99 10TEAM_Blog</h1>
      <p class="header__text">
        If you have a Hanghae99 10TEAM_Blog account, log in with your email
      </p>
    </header>
    <div class="login-form">
      <form method="POST" action="{{ url_for('login') }}">
        >
        <input
          type="text"
          name="userID"
          id="userID"
          class="text-field"
          placeholder="아이디"
        />
        <input
          type="password"
          name="userPW"
          id="userPW"
          class="text-field"
          placeholder="비밀번호"
        />
        <a href="#none"></a
        ><button type="submit" id="btn_login" onclick="sign_in()">Log-IN</button>
      </form>
    </div>
  </body>
</html>
