<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>10TEAM_Blog Log-in</title>
    <!-- 타이틀 뭘루...? -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./login_yonghwan.css" />
  </head>

  <body>
    <header class="yong-header">
      <h1 class="yong-header__title">Welcome Hanghae99 10TEAM_Blog</h1>
      <p class="yong-header__text">
        If you have a Hanghae99 10TEAM_Blog account, log in with your email
      </p>
    </header>
    <div class="login-form">
      <form>
        <input
          type="text"
          name="email"
          class="text-field"
          placeholder="아이디"
        />
        <input
          type="text"
          name="password"
          class="text-field"
          placeholder="비밀번호"
        />
        <input type="submit" value="로그인" class="submit-btn" />
      </form>
    </div>
  </body>
</html>
