<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    
    <title>mypage</title>

    <style>
        .card_img {
            width: auto;
            height: 200px;
            object-fit: cover;
        }
    </style>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script>
        $(document).ready(function () {
        

            let mytoken = getCookie('mytoken');
            document.getElementById("loginBtn").style.display = "none";

            if(mytoken != null) {
                fetch('/decodeName').then((res) => res.json()).then((data) => {
                    $("#id_hello").text(data['result']+" 님의 블로그입니다.");
                    $("#offcanvasDarkNavbarLabel").text(data['result']+" 님");
                

                    $("#nav-items").empty()
                    let temp_html = `<li class="nav-item">
                                        <a class="nav-link" href="../">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../board">글 쓰기</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../checkpassword">내 프로필</a>
                                    </li>
                                    `
                    $("#nav-items").append(temp_html)
                    $("#nav-items").append(`<br><button class="btn btn-light" onclick="logout()">로그아웃</button><br>`);
                })
            }
            else
            {
                window.location.href = "../";
            }
        });
        function getCookie(key) {
          var result = null;
          var cookie = document.cookie.split(';');
          cookie.some(function (item) {
              // 공백을 제거
              item = item.replace(' ', '');
      
              var dic = item.split('=');
      
              if (key === dic[0]) {
                  result = dic[1];
                  return true;    // break;
              }
          });
          return result;
        }
        function logout() {
          $.removeCookie('mytoken', {path: '/'});
          window.location.href = "../";
        }
    </script>
</head>

<body>
    <header data-bs-theme="dark">
        <nav class="navbar navbar-dark bg-dark fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center">
              <img src="{{ url_for('static', filename='image/bolg-w.png') }}" width="20" height="20" >
              <strong>&nbspBLOG</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">비회원</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3"  id="nav-items">
                  <li class="nav-item">
                    <a class="nav-link" href="../login">로그인</a>
                  </li>
                </ul>
                <form class="d-flex mt-3" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </div>
        </nav>
    </header>
    <section class="py-4 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <br>
                <br>
                <h1 class="fw-light">
                    <img src="{{ url_for('static', filename='image/bolg-s.png') }}" width="50" height="50" >
                    BLOG
                </h1>
                <br>
                <p class="lead text-body-secondary" id="id_hello">Blog는 간단한 글을 작성하고 저장, 삭제할 수 있는 플랫폼입니다.</p>
                <br>
                <p id="loginBtn">
                </p>
            </div>
        </div>
    </section>
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#">글</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">시리즈</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">소개</a>
        </li>
    </ul>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-md-2 g-4" id="content-list">
            <div class="col">
                <div class="card">
                  <img src="{{ url_for('static', filename='image/table-lamp.jpg') }}" class="card_img" alt="...">
                  <div class="card-body">
                    <strong class="d-inline-block mb-2 text-success" id="series">Design</strong>
                    <h5 class="card-title" id="title">Card title</h5>
                    <p class="card-text" id="content">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
            </div>

            
        </div>
    </div>
</body>
</html>