<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title></title>

    <style>
        
    </style>
    <script>
        function sign_up() {
            let username = $("#input-username").val()
            let password = $("#input-password").val()
            let nickname = $("#input-nickname").val()
            let password2 = $("#input-password2").val()
            console.log(username, nickname, password, password2)

            if ($("#help-id").hasClass("is-danger")) {
                alert("아이디를 다시 확인해주세요.")
                return;
            } else if (!$("#help-id").hasClass("is-success")) {
                alert("아이디 중복확인을 해주세요.")
                return;
            }
            if (password == "") {
                $("#help-password").text("비밀번호를 입력해주세요.").removeClass("is-safe").addClass("is-danger")
                $("#input-password").focus()
                return;
            } else if (!is_password(password)) {
                $("#help-password").text("비밀번호의 형식을 확인해주세요. 영문과 숫자 필수 포함, 특수문자(!@#$%^&*) 사용가능 8-20자").removeClass("is-safe").addClass("is-danger")
                $("#input-password").focus()
                return
            } else {
                $("#help-password").text("사용할 수 있는 비밀번호입니다.").removeClass("is-danger").addClass("is-success")
            }

            if (password2 == "") {
                $("#help-password2").text("비밀번호를 입력해주세요.").removeClass("is-safe").addClass("is-danger")
                $("#input-password2").focus()
                return;
            } else if (password2 != password) {
                $("#help-password2").text("비밀번호가 일치하지 않습니다.").removeClass("is-safe").addClass("is-danger")
                $("#input-password2").focus()
                return;
            } else {
                $("#help-password2").text("비밀번호가 일치합니다.").removeClass("is-danger").addClass("is-success")
            }

            let formData = new FormData();
            formData.append("username_give", username);
            formData.append("password_give", password);
            formData.append("nickname_give", password);
            fetch('/sign_up/save', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
                if (data['result'] == 'success') {
                    // root도메인의 쿠키에 로그인 토큰을 저장
                    $.cookie('mytoken', data['token'], {path: '/'}); 
                    window.location.replace("/login")
                } else {
                    alert(data['msg'])
                }
            });
        }

        function sign_in() {
            let username = $("#input-username").val()
            let password = $("#input-password").val()

            if (username == "") {
                $("#help-id-login").text("아이디를 입력해주세요.")
                $("#input-username").focus()
                return;
            } else {
                $("#help-id-login").text("")
            }

            if (password == "") {
                $("#help-password-login").text("비밀번호를 입력해주세요.")
                $("#input-password").focus()
                return;
            } else {
                $("#help-password-login").text("")
            }

            let formData = new FormData();
            formData.append("username_give", username);
            formData.append("password_give", password);
            fetch('/sign_in', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
                if (data['result'] == 'success') {
                    // root도메인의 쿠키에 로그인 토큰을 저장
                    $.cookie('mytoken', data['token'], {path: '/'}); 
                    window.location.replace("/")
                } else {
                    alert(data['msg'])
                }
            });
        }
    </script>
</head>

<body>
    <div class="mypost" id="post-box">
        <div>
            <label>ID</label>
            <input id="input-username" class="form-control" placeholder="아이디 입력">
        </div>
        <div>
            <label>Password</label>
            <input id="input-password" class="form-control" placeholder="비밀번호 입력">
        </div>
        <div>
            <label>Password확인</label>
            <input id="#input-nickname" class="form-control" placeholder="비밀번호 입력">
        </div>
        <div>
            <label>Password확인</label>
            <input id="input-password2" class="form-control" placeholder="비밀번호 입력">
        </div>
        <button></button>
    </div>
</body>

</html>